<header class="themeix-header clearfix mb-5">
    <div class="themeix-header-navigation">
    <div class="container">
       <div class="row">
 
          <div class="col-md-12 d-md-flex justify-content-start align-items-center">
             <div class="themeix-logo">
                <a class="themeix-brand" href="/"><img src="https://static.neocrym.com//images/neocrym/v2/1x/neocrym-rectangle-wordmark-horizontal-white-on-transparent--1x.png" alt="Neocrym logo"></a>
             </div>		 
          </div>
       </div>
    </div>
 </div></header>