<footer>
    <div class="footer-area clearfix">
      <div class="footer-bottom text-center">
        <p>© 2019-2023 Neocrym Records Inc.</p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md">
            <ul>
              <li><strong>Main</strong></li>
              <li><a href="/">Home</a></li>
            </ul>
            <ul>
              <li><strong>Legal</strong></li>
              <li><a href="/privacy/">Privacy</a></li>
              <li><a href="/security/">Security</a></li>
              <li><a href="/affiliate/">Affiliate Link Disclosure</a></li>
              <li><a href="/do-not-sell-my-personal-information/">Do Not Sell My Personal Information</a></li>
            </ul>
            <ul>
                <li><strong>Mailing Address</strong></li>
                <li>
                  Neocrym Records Inc.<br />
                  8605 Santa Monica Blvd<br />
                  Suite 19106<br />
                  West Hollywood, California 90069-4109
                </li>
              </ul>
          </div>
          <div class="col-md">
            <ul>
              <li><strong>Writing</strong></li>
              <li><a href="https://newsroom.neocrym.com">Company Announcements</a></li>
              <li><a href="https://tech.neocrym.com/">Technology at Neocrym</a></li>
              <li><a href="https://www.clicktrack.fm/">Click Track: Entertainment Industry Analysis</a></li>
            </ul>
            <ul>
              <li><strong>Community</strong></li>
              <li><a href="/coc/">Code of Conduct (CoC)</a></li>
              <li><a href="/cla/">Contributor Licensing Agreement (CLA)</a></li>
            </ul>
            <ul>
              <li><strong>Public Relations (PR)</strong></li>
              <li><a href="/brand/">Brand</a></li>
              <li><a href="/press/">Press Kit</a></li>
            </ul>
          </div>
          <div class="col-md">
            <ul>
              <li><strong>Social Media</strong></li>
              <li><a href="https://www.facebook.com/neocrym">Facebook</a></li>
              <li><a href="https://flickr.com/photos/neocrym">Flickr</a></li>
              <li><a href="https://github.com/neocrym">GitHub</a></li>
              <li><a href="https://www.instagram.com/neocrym/">Instagram</a></li>
              <li><a href="https://www.linkedin.com/company/neocrym">LinkedIn</a></li>
              <li><a href="https://www.pinterest.com/neocrym">Pinterest</a></li>
              <li><a href="https://www.reddit.com/r/neocrym/">Reddit (subreddit)</a></li>
              <li><a href="https://www.reddit.com/user/neocrym">Reddit (user)</a></li>
              <li><a href="https://soundcloud.com/neocrym">SoundCloud</a></li>
              <li><a href="https://www.tiktok.com/@neocrym">TikTok</a></li>
              <li><a href="https://twitter.com/neocrym">Twitter</a></li>
              <li><a href="https://www.youtube.com/channel/UC1IcBItnx-BKUyDjwMEWMYw">YouTube</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>