<!-- Basic page configuration-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="HandheldFriendly" content="True">
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<meta name="referrer" content="no-referrer-when-downgrade" />

<!-- Page metadata -->
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page.description }}">
<meta property="article:publisher" content="https://www.facebook.com/neocrym">
<meta property="article:author" content="https://www.facebook.com/neocrym">
<meta name="twitter:site" content="@neocrym">
<meta name="twitter:creator" content="@neocrym">
<title>{{ page.title }}</title>

<!-- Stylesheets -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,900" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/assets/css/styles.css">

<!-- Favicon settings-->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
<meta name="msapplication-TileColor" content="#000000">
<meta name="theme-color" content="#ffffff">

<script defer data-domain="neocrym.com" src="https://plausible.io/js/script.js"></script>
<meta name="facebook-domain-verification" content="oejmvry96nr6q9clculvjkrhfh3cka" />
