@media screen {
  :root,
  [data-theme="default"] {
    --primary-bg: #131416;
    --secondary-bg: #1a1c1e;
    --tertiary-bg: #303333;
    --primary-color: #c5c5c5;
    --highlight-color: #5aa8ed;
    --white-color: #ededec;
    --dark-p-color: #c3c3c3;
    --grey-bg: #f2f2f4;
    --meta-color: #777777;
    --font-primary: "Open Sans", sans-serif;
  }

  body {
    font-size: 18px;
    color: var(--primary-color);
    font-family: var(--font-primary);
    overflow-x: hidden;
    line-height: 1.7;
    background: var(--primary-bg);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  b,
  dt {
    color: #ededec;
    font-weight: 700;
  }
  h1 {
    font-size: 2.4em;
  }
  h1.multiline {
    line-height: 1.4em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.6em;
  }
  h4 {
    font-size: 1.4em;
  }
  h5 {
    font-size: 1.2em;
  }
  h6 {
    font-size: 1em;
  }
  code {
    color: #ededec;
  }
  ul.link-list > li {
    margin-bottom: 0.5rem;
  }
  ul.link-list > li > a {
    font-weight: 700;
    font-size: 1.1em;
  }
  .highlight {
    color: #f77239;
    font-weight: 900;
  }
  a {
    color: #5aa8ed;
    text-decoration: none;
  }
  a:hover {
    color: #5ec7ff;
    border-bottom: 0;
  }
  img.oss-logo {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: 0;
    display: block;
    width: 20%;
    min-width: 200px;
  }
  .logobox img {
    min-width: 75px;
    width: 20%;
    display: inline;
    margin: 10px;
  }
  .colorbox {
    width: 100%;
    padding: 2rem 2rem 2rem 20%;
    margin: 0;
    border-left: 3px solid #000000;
    border-right: 3px solid #000000;
    font-weight: 600;
  }
  .panel-lightblack {
    background-color: #1a1c1e;
    color: #ededec;
  }
  .panel-darkgray {
    background-color: #303335;
    color: #ededec;
  }
  .panel-darkblue {
    background-color: #204f8c;
    color: #ededec;
  }
  .panel-lightblue {
    background-color: #5aa8ed;
    color: #131416;
  }
  .panel-darkwhite {
    background-color: #c5c5c5;
    color: #131416;
  }
  .panel-softwhite {
    background-color: #ededec;
    color: #131416;
  }
  dl,
  ol,
  ul {
    padding-left: 1.3rem;
  }
  .entry-content li {
    margin-bottom: 0.5rem;
  }
  .entry-content p {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .entry-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .entry-content .kg-image {
    max-width: 100%;
  }
  .footnotes,
  .post-full-comments,
  .entry-content blockquote,
  .entry-content dl,
  .entry-content h1,
  .entry-content h2,
  .entry-content h3,
  .entry-content h4,
  .entry-content h5,
  .entry-content h6,
  .entry-content ol,
  .entry-content p,
  .entry-content pre,
  .entry-content ul {
    margin: 0 0 1.5rem;
    min-width: 100%;
  }
  .post-full-image + .entry-content .kg-content *:first-child .kg-image {
    width: 100%;
  }

  .kg-width-wide .kg-image {
    max-width: 1040px;
  }

  .entry-content .kg-width-full .kg-image {
    max-width: 100vw;
  }

  .entry-content figure {
    margin: 0.8em 0 2.3em;
  }

  .entry-content h1 + figure,
  .entry-content h2 + figure,
  .entry-content h3 + figure,
  .entry-content h4 + figure {
    margin-top: 2rem;
  }
  .entry-content h1,
  .entry-content h2,
  .entry-content h3,
  .entry-content h4,
  .entry-content h5,
  .entry-content h6 {
    font-weight: 700;
  }
  .entry-content figure img {
    margin: 0;
  }

  .entry-content figcaption {
    margin: 1em 0 0;
    color: color(var(--midgrey) l(-10%));
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 75%;
    line-height: 1.5em;
    text-align: center;
  }

  .kg-width-full figcaption {
    padding: 0 1.5em;
  }

  .kg-embed-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .kg-embed-card .fluid-width-video-wrapper {
    margin: 0;
  }

  @media (max-width: 1040px) {
    .entry-content .kg-width-full .kg-image {
      width: 100vw;
    }
  }

  .kg-gallery-container {
    display: flex;
    flex-direction: column;
    max-width: 45vw;
    width: 100vw;
  }

  .kg-gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .kg-gallery-image img {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .kg-gallery-row:not(:first-of-type) {
    margin: 0.75em 0 0 0;
  }

  .kg-gallery-image:not(:first-of-type) {
    margin: 0 0 0 0.75em;
  }

  .kg-gallery-card + .kg-image-card.kg-width-wide,
  .kg-gallery-card + .kg-gallery-card,
  .kg-image-card.kg-width-wide + .kg-gallery-card,
  .kg-image-card.kg-width-wide + .kg-image-card.kg-width-wide {
    margin: -2.25em 0 3em;
  }

  /* keep existing <pre> styles for code cards with captions */
  .kg-code-card {
    width: 100%;
  }

  .kg-code-card pre {
    margin: 0;
  }

  .kg-bookmark-card {
    width: 100%;
  }

  .kg-card + .kg-bookmark-card {
    margin-top: 0;
  }

  .kg-bookmark-container {
    display: flex;
    min-height: 148px;
    color: var(--darkgrey);
    text-decoration: none;
    border-radius: 3px;
    background: var(--secondary-bg);
  }

  .kg-bookmark-container:hover {
    color: var(--darkgrey);
    text-decoration: none;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.09);
  }

  .kg-bookmark-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
  }

  .kg-bookmark-title {
    color: var(--highlight-color);
    font-size: 1.4rem;
    line-height: 1.3;
    font-weight: 600;
    transition: color 0.2s ease-in-out;
  }

  .entry-content .kg-bookmark-container:hover .kg-bookmark-title {
    color: var(--primary-color);
  }

  .kg-bookmark-description {
    display: -webkit-box;
    overflow-y: hidden;
    margin-top: 12px;
    max-height: 100px;
    font-weight: 400;
    font-size: 0.9rem;

    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .kg-bookmark-thumbnail {
    position: relative;
    min-width: 33%;
    max-height: 100%;
  }

  .kg-bookmark-thumbnail img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 3px 3px 0;

    object-fit: cover;
  }

  .kg-bookmark-metadata {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 14px;
    font-size: 1rem;
    font-weight: 600;
  }

  .entry-content .kg-bookmark-icon {
    margin-right: 8px;
    width: 22px;
    height: 22px;
  }

  .kg-bookmark-author {
    line-height: 1.5em;
  }

  .kg-bookmark-author:after {
    content: "•";
    margin: 0 6px;
  }

  .kg-bookmark-publisher {
    overflow: hidden;
    max-width: 240px;
    line-height: 1.5em;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @media (max-width: 800px) {
    .entry-content figure {
      margin: 0.2em 0 1.3em;
    }

    .entry-content h1 + figure,
    .entry-content h2 + figure,
    .entry-content h3 + figure,
    .entry-content h4 + figure {
      margin-top: 0.9em;
    }
  }

  @media (max-width: 500px) {
    .kg-width-wide,
    .kg-width-full {
      margin-right: -5vw;
      margin-left: -5vw;
    }

    .entry-content figcaption {
      margin-bottom: 0.4em;
    }

    .entry-content .kg-bookmark-container {
      flex-direction: column;
    }

    .kg-bookmark-title,
    .kg-bookmark-description,
    .kg-bookmark-metadata {
      line-height: 1.5em;
    }

    .entry-content .kg-bookmark-icon {
      width: 18px;
      height: 18px;
    }

    .kg-bookmark-thumbnail {
      order: 1;
      min-height: 160px;
      width: 100%;
    }

    .kg-bookmark-thumbnail img {
      border-radius: 3px 3px 0 0;
    }

    .kg-bookmark-content {
      order: 2;
    }
  }

  /* Author Loop */

  .post-card-meta .profile-image-wrapper,
  .post-card-meta .avatar-wrapper {
    position: relative;
  }

  .author-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 4px;
    padding: 0;
    list-style: none;
  }

  .author-list-item {
    position: relative;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
  }

  .static-avatar {
    display: block;
    overflow: hidden;
    margin: 0 0 0 -6px;
    width: 34px;
    height: 34px;
    border: var(--primary-color) 2px solid;
    border-radius: 100%;
  }

  .author-name-tooltip {
    position: absolute;
    bottom: 105%;
    z-index: 999;
    display: block;
    padding: 2px 2px;
    color: var(--primary-color);
    font-size: 13px;
    white-space: nowrap;
    border-radius: 3px;
    font-weight: 400;
    opacity: 0;
    transition: all 0.35s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transform: translateY(6px);
    pointer-events: none;
    left: -5px;
  }

  .author-list-item:hover .author-name-tooltip {
    opacity: 1;
    transform: translateY(0px);
  }

  @media (max-width: 700px) {
    .author-name-tooltip {
      display: none;
    }
  }

  .post-card-byline-content {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-size: 13px;
    line-height: 1.6;
    text-transform: uppercase;
  }

  .post-card-byline-content span {
    margin: 0;
  }

  .post-card-byline-content a {
    color: var(--primary-color)
  }

  .post-card-byline-content a:hover {
    color: var(--highlight-color)
  }

  .post-card-byline-date .bull {
    display: inline-block;
    margin: 0 4px;
    opacity: 0.6;
  }

  .footer-area {
    font-size: 75%;
    background: var(--secondary-bg);
    padding: 3em 1em 5em 1em;
  }
  .footer-area ul {
    margin: 2em 0 0 0;
    padding: 0;
    list-style: none;
  }
  .footer-area ul li {
    margin-bottom: 0.5em;
  }
  .footer-area .widget-title {
    margin-bottom: 25px;
  }
  @media (max-width: 768px) {
    .footer-area .widget-title {
      margin-bottom: 15px;
    }
  }
  .footer-area .widget-title h3 {
    font-size: 18px;
    line-height: 1.2;
  }
  @media (max-width: 768px) {
    .footer-area .subscribe {
      margin-top: 35px;
    }
  }
  .footer-area .tags ul li {
    display: inline-block;
  }
  .footer-area .tags ul li a {
    display: block;
    border: 1px solid var(--primary-color);
    padding: 5px 8px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  @media (max-width: 768px) {
    .footer-area .social-icon {
      margin-bottom: 0;
    }
  }
  @media (max-width: 575px) {
    .footer-area .social-icon {
      margin-bottom: 35px;
    }
  }
  .footer-area .social-icon ul li {
    margin-right: 10px;
  }
  .footer-area .social-icon ul li:hover a {
    color: var(--highlight-color);
  }
  .footer-area .social-icon ul li a {
    color: var(--primary-color);
  }
  @media (max-width: 768px) {
    .footer-area .widget-link ul {
      margin-bottom: 30px;
    }
  }
  .footer-area .widget-link ul li {
    margin-bottom: 15px;
  }
  @media (max-width: 768px) {
    .footer-area .widget-link ul li {
      margin-bottom: 10px;
    }
  }
  .footer-area .footer-bottom {
    padding-bottom: 0;
  }
  .footer-area .footer-bottom span {
    font-size: 14px;
  }
  .footer-area .footer-bottom a {
    color: var(--highlight-color);
  }
  .footer-area form input[type="email"] {
    width: 100%;
    padding: 8px 15px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
  }
  .footer-area form input[type="email"]:focus {
    outline: 0;
  }
  .footer-area form button {
    padding: 10px;
    border: none;
    font-weight: 600;
    background: var(--highlight-color);
    cursor: pointer;
    transition: 0.4s;
    color: var(--white-color);
    width: 100%;
  }
  .footer-area form button:hover {
    background: var(--highlight-color);
    color: var(--white-color);
  }
  .footer-area form button:focus {
    outline: 0;
  }

  #themeix-menu,
  #themeix-menu ul,
  #themeix-menu ul li,
  #themeix-menu ul li a,
  #themeix-menu #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    box-sizing: border-box;
  }

  #themeix-menu:after,
  #themeix-menu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  #themeix-menu.small-screen ul li,
  #themeix-menu.small-screen ul li:hover > ul > li,
  #themeix-menu.small-screen ul ul li {
    width: 100%;
    height: auto;
    border-top: 1px solid rgba(120, 120, 120, 0.15);
  }

  #themeix-menu.small-screen ul ul,
  #themeix-menu.small-screen ul ul ul {
    position: relative;
    left: 0;
    right: auto;
    width: 100%;
    margin: 0;
  }

  #themeix-menu.small-screen > ul {
    margin-top: 54px;
  }

  #themeix-menu {
    line-height: 1;
    background-color: transparent;
    width: auto;
  }
  #themeix-menu ul li:hover > ul > li {
    height: 32px;
  }
  #themeix-menu ul ul {
    position: absolute;
    left: -9999px;
  }
  #themeix-menu ul ul ul {
    margin-left: 100%;
    top: 0;
  }
  #themeix-menu ul ul li {
    height: 0;
    transition: height 0.2s ease;
  }
  #themeix-menu ul ul li a {
    padding: 10px 20px;
    width: 160px;
    background: var(--primary-color);
    text-decoration: none;
    color: var(--white-color);
    transition: color 0.2s ease;
  }
  #themeix-menu ul ul li a:hover {
    color: var(--primary-color);
  }
  #themeix-menu ul ul li.has-sub > a::after {
    position: absolute;
    top: 13px;
    right: 10px;
    width: 4px;
    height: 4px;
    border-bottom: 1px solid var(--meta-color);
    border-right: 1px solid var(--meta-color);
    content: "";
    transform: rotate(-45deg);
    transition: border-color 0.2s ease;
  }
  #themeix-menu ul ul li.has-sub:hover > a::after {
    border-color: var(--white-color);
  }
  #themeix-menu ul ul li:hover > a {
    color: var(--white-color);
  }
  #themeix-menu #menu-button {
    display: none;
  }
  #themeix-menu > ul {
    display: flex;
    justify-content: flex-end;
    z-index: 2;
  }
  #themeix-menu > ul > li {
    float: left;
  }
  #themeix-menu > ul > li > a {
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: var(--white-color);
    transition: color 0.2s ease;
  }
  #themeix-menu > ul > li.has-sub > a {
    padding-right: 25px;
  }
  #themeix-menu > ul > li.has-sub > a::after {
    position: absolute;
    top: 21px;
    right: 10px;
    width: 4px;
    height: 4px;
    border-bottom: 1px solid var(--white-color);
    border-right: 1px solid var(--white-color);
    content: "";
    transform: rotate(45deg);
    transition: border-color 0.2s ease;
  }
  #themeix-menu > ul > li.has-sub:hover > a::after {
    border-color: var(--highlight-color);
  }
  #themeix-menu > ul > li:hover > a {
    color: var(--highlight-color);
  }
  #themeix-menu > ul > li.active > a {
    color: var(--highlight-color);
  }
  #themeix-menu.align-center > ul {
    font-size: 0;
    text-align: center;
  }
  #themeix-menu.align-center > ul > li {
    display: inline-block;
    float: none;
  }
  #themeix-menu.align-center ul ul {
    text-align: left;
  }
  #themeix-menu.align-right > ul > li {
    float: right;
  }
  #themeix-menu.align-right ul ul {
    text-align: right;
  }
  #themeix-menu.align-right ul ul ul {
    margin-left: 0;
    margin-right: 100%;
  }
  #themeix-menu.align-right ul ul li.has-sub > a::after {
    right: auto;
    left: 10px;
    border-bottom: 0;
    border-right: 0;
    border-top: 1px solid var(--meta-color);
    border-left: 1px solid var(--meta-color);
  }
  #themeix-menu.align-right li:hover > ul {
    right: 0;
  }
  #themeix-menu.small-screen {
    width: 100%;
  }
  #themeix-menu.small-screen ul {
    width: 100%;
    display: none;
    margin-top: 25px;
    position: absolute;
    z-index: 5;
  }
  #themeix-menu.small-screen ul li a {
    width: 100%;
  }
  #themeix-menu.small-screen ul ul li a {
    width: 100%;
    padding: 20px 20px 20px 30px;
    background: none;
  }
  #themeix-menu.small-screen ul ul li.has-sub > a::after {
    display: none;
  }
  #themeix-menu.small-screen ul ul ul li a {
    padding-left: 40px;
  }
  #themeix-menu.small-screen.align-right ul ul {
    text-align: left;
  }
  #themeix-menu.small-screen.align-right > ul > li {
    float: none;
    display: block;
  }
  #themeix-menu.small-screen #menu-line {
    display: none;
  }
  #themeix-menu.small-screen #menu-button {
    display: inline-block;
    padding: 20px;
    color: var(--white-color);
    cursor: pointer;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    top: 0;
  }
  #themeix-menu.small-screen #menu-button::after {
    content: "";
    position: absolute;
    top: 19px;
    right: 20px;
    display: block;
    width: 22px;
    height: 2px;
    background: var(--primary-color);
  }
  #themeix-menu.small-screen #menu-button::before {
    content: "";
    position: absolute;
    top: 25px;
    right: 20px;
    display: block;
    width: 22px;
    height: 8px;
    border-top: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
  }
  #themeix-menu.small-screen .submenu-button {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.15);
    height: 52px;
    width: 52px;
    cursor: pointer;
  }
  #themeix-menu.small-screen .submenu-button.submenu-opened:after {
    display: none;
  }
  #themeix-menu.small-screen .submenu-button::after {
    content: "";
    position: absolute;
    top: 21px;
    left: 26px;
    display: block;
    width: 1px;
    height: 11px;
    background: var(--white-color);
    z-index: 99;
  }
  #themeix-menu.small-screen .submenu-button::before {
    content: "";
    position: absolute;
    left: 21px;
    top: 26px;
    display: block;
    width: 11px;
    height: 1px;
    background: var(--white-color);
    z-index: 99;
  }
  #themeix-menu.small-screen.select-list {
    padding: 5px;
  }
  #themeix-menu.small-screen.align-center > ul {
    text-align: left;
  }
  #themeix-menu.small-screen.align-center > ul > li {
    float: none;
    display: block;
  }
  #themeix-menu.small-screen > ul > li {
    float: none;
    display: block;
  }
  #themeix-menu.small-screen > ul > li.has-sub > a::after {
    display: none;
  }
  #themeix-menu li:hover > ul {
    left: auto;
  }

  #menu-line {
    position: absolute;
    top: 0;
    height: 7px;
    background: var(--highlight-color);
    transition: all 0.25s ease-out;
    width: 7px !important;
    margin-left: 20px;
    border-radius: 50%;
  }

  #themeix-menu.small-screen > ul {
    background: var(--secondary-bg);
    top: -25px;
    padding-top: 60px;
  }

  #themeix-menu.small-screen #menu-button {
    z-index: 10;
    width: 60px;
    height: 60px;
  }

  #themeix-menu {
    margin-left: 20px;
  }

  #themeix-menu.small-screen {
    width: calc(100% - 30px);
    position: absolute;
    top: 0;
    height: 100%;
    margin-left: 0;
  }
  .themeix-logo img {
    max-height: 40px;
  }
  .themeix-logo img a {
    display: block;
  }

  .themeix-header {
    background: var(--primary-bg);
  }

  .themeix-header-navigation {
    padding: 15px 0;
  }

  .kg-callout-card {
    display: flex;
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    margin-top: 0 !important;
    color: #fff;
  }

  .kg-callout-card-blue {
    background: rgba(33, 172, 232, 0.5);
  }
  .kg-callout-card-green {
    background: rgba(52, 183, 67, 1);
  }
  .kg-callout-card-yellow {
    background: rgba(240, 165, 15, 0.6);
  }
  .kg-callout-card-red {
    background: rgba(209, 46, 46, 1);
  }
  .kg-callout-card-pink {
    background: rgba(225, 71, 174, 1);
  }
  .kg-callout-card-purple {
    background: rgba(135, 85, 236, 1);
  }

  .kg-callout-emoji {
    padding-right: 0.8em;
    line-height: 1.3em;
    font-size: 1.2em;
  }
  .kg-callout-text {
    font-size: 17px;
    line-height: 1.6;
    font-family: var(--font-body);
    font-weight: 400;
    color: var(--color-paragraph);
  }
  .kg-callout-card div.kg-callout-text {
    font-size: 17px;
    line-height: 1.6;
    font-family: var(--font-body);
    font-weight: 400;
    color: var(--color-paragraph);
  }

  .kg-blockquote-alt {
    font-size: 1.5em;
    font-style: italic;
    line-height: 1.7em;
    text-align: center;
    padding: 0 2.5em;
    border-left: 0;
  }

  .entry-content .kg-image {
    height: auto !important;
  }
  .kg-gallery-container {
    max-width: 45vw !important;
  }
  .kg-toggle-card {
    margin-bottom: 2em !important;
    box-shadow: inset 0 0 0 1px rgba(124, 139, 154, 0.5) !important;
    width: calc(100% - 2.4em) !important;
  }

  .kg-toggle-heading svg {
    color: var(--highlight-color) !important;
  }

  .kg-toggle-heading path {
    stroke-width: 0.375em !important;
  }

  .kg-toggle-heading .kg-toggle-heading-text {
    padding-right: 1em !important;
    min-width: calc(100% - 1em) !important;
    width: calc(100% - 1em) !important;
  }

  .kg-toggle-card-icon {
    margin-left: 0 !important;
    background-color: var(--tertiary-bg) !important;
    border-radius: 12px !important;
  }

  .kg-product-card {
    margin-bottom: 2em !important;
  }

  .kg-product-card-image {
    width: 100% !important;
  }
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25em;
  line-height: 1.8;
}
.panel-lightblack,
.panel-darkgray,
.panel-darkblue,
.panel-lightblue,
.panel-darkwhite,
.panel-softwhite {
  padding: 1rem;
}
.header {
  width: 100%;
  max-height: 60px;
}
.header > img {
  max-height: 40px;
}
dt::after {
  content: " —";
}
